<div class="login-form" [@routerTransition]>
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            {{ 'ForgotPassword' | localize }}
        </h3>
    </div>

    <form class="login-form form" #forgotPassForm="ngForm" *ngIf="mailcheck">
        <p>
            {{"SendPasswordResetLink_Information" | localize}}
        </p>

        <div class="form-group">
            <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                autocomplete="new-password" placeholder="{{'EmailAddress' | localize}} *" name="emailAddress" required
                maxlength="256" email />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5">
            <button [disabled]="Verifying" routerLink="/account/login" type="button"
                class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"><i
                    class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" (click)="checkuser()"
                [disabled]="!forgotPassForm.form.valid" [buttonBusy]="Verifying" [busyText]="l('Verifying...')"><i
                    class="fa fa-check"></i> {{"Submit" | localize}}</button>
        </div>
    </form>
    <div class="form-group" *ngIf="showotp">
    <form  method="post" novalidate (ngSubmit)="save()">
        <p><b>We've sent code in your mail and your cell number if registered</b></p>
        <div>
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config" ></ng-otp-input>
            <h5>00:{{timeLeft}}</h5><p *ngIf="timeLeft=='00'" (click)="Resend()">Resend</p>
            </div>
            <div class="pb-lg-0 pb-5">
                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                  >Verify</button>
            </div>
      </form>
    </div>
    <div class="container" *ngIf="toggleSecurityQuestion==true">
    <form method = "security_question" >
        <div class="container" style="padding: 0;" >
          
            <div class="question1" style="margin: 10px 0px 0px 0px;">
                <h6><b>Question 1</b></h6>
                <div class="row">
                    <div class="col-sm-12 form-group" style="margin: 8px 0;">
                        <select name="Security_Question" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion">
                            <option *ngFor="let item of quesData"  [ngValue]="item">{{item}}</option>
                            
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" name="Secuity_Answer" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6" [ngModelOptions]="{standalone:true}" [(ngModel)]="answer"  placeholder = "Enter Your Answer" style="width:100%;" required>
                    </div>
                </div>
            </div>

            <div class="question2" style="margin: 10px 0px 0px 0px;">
                <h6><b>Question 2</b></h6>
                <div class="row">
                    <div class="col-sm-12 form-group" style="margin: 8px 0;">
                        <select name="Security_Question1" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion1">
                            <option *ngFor="let item1 of quesData1"  [ngValue]="item1"><p *ngIf ="securityQuestion !=item1">{{item1}}</p></option>
                            
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" name="Secuity_Answer1" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6" [ngModelOptions]="{standalone:true}" [(ngModel)]="answer1"  placeholder = "Enter Your Answer" style="width:100%;" required>
                    </div>
                </div>
            </div>
            
            <div class="question3" style="margin: 10px 0px 0px 0px;">
                <h6><b>Question 3</b></h6>
                <div class="row">
                    <div class="col-sm-12 form-group" style="margin: 8px 0;">
                        <select name="Security_Question" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion2">
                            <option *ngFor="let item2 of quesData2"  [ngValue]="item2"><p *ngIf ="securityQuestion !=item2 && securityQuestion1 !=item2">{{item2}}</p></option>
                            
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text2" name="Secuity_Answer2" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6" [ngModelOptions]="{standalone:true}" [(ngModel)]="answer2"  placeholder = "Enter Your Answer" style="width:100%;" required>
                    </div>
                </div>
            </div>

            <div class="pb-lg-0 pb-5">
                <div class="row">
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 px-4 py-4 mr-3 my-3" style="margin-left: 16px !important; width: 39%;" (click)="toggleSecurityQuestion=false "><i
                        class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
                  <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-4 py-4 my-3 mr-3" style="width: 44%;" (click)="verifyAnswer()">
                      <i class="fa fa-check"></i> {{"Submit" | localize}}</button>
                  </div>
            </div>
    
        </div>
    </form>
</div>
</div>