<div class="login-form" [@routerTransition]>
    <div class="container" *ngIf="toggleSecurityQuestion ==false " >

    <div class=" pt-lg-0 pt-5">
        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">
            <p class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
                {{ "Hey! " | localize }}
                {{userName}}
            </p>
            <p class="font-weight-bolder text-dark  ">{{mail}}</p>

        </span>
        <p class="font-weight-bolder text-dark font-size-h6 font-size-h1-lg">
            {{Caption}}
        </p>
        
            
       
    </div>

    <form #resetPassForm="ngForm" class="login-form form" method="post" (ngSubmit)="save()">
        <p>
            {{"PleaseEnterYourNewPassword" | localize}}
        </p>

        <div class="form-group">
            <input type="password" name="Password"
                class="form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"
                [(ngModel)]="model.password" #Password="ngModel" placeholder="{{'Password' | localize}}"
                validateEqual="PasswordRepeat" reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required>
        </div>
        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                </li>
            </ul>
        </div>

        <div class="form-group">
            <input type="password" name="PasswordRepeat"
                class="form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"
                [ngModel]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{'PasswordRepeat' | localize}}"
                validateEqual="Password" reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required>
        </div>
        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                <li [hidden]="!PasswordRepeat.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                </li>
                <li [hidden]="PasswordRepeat.valid">{{"PasswordsDontMatch" | localize}}</li>
            </ul>
        </div>

        <div class="form-group" *ngIf="!resetp">
            <h6 *ngIf="currentlyChecked==check_box_type.CheckVerify"><b>Enter Your Mobile Number</b></h6>
            <input type="tel" name="CellNumber" [(ngModel)]="phoneNumber"
                class="form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"
                placeholder="{{'Enter Your Number' | localize}}" (input)="phonenumberinput($event)" *ngIf="currentlyChecked==check_box_type.CheckVerify"
                ><br>
                <p>
                    <input type="checkbox" id="Yes" (click)="selectCheckBox(check_box_type.CheckVerify)" name="Yes" value="Yes" [checked]="currentlyChecked===check_box_type.CheckVerify" style="
                        margin: 3px 0px 0px 0px;
                    float: left;
                ">I would like to recieve notification & verify my cell number</p>
                <br>
                <p>
                    <input type="checkbox" id="Yes" (click)="selectCheckBox(check_box_type.CheckNotVerify)" [checked]="currentlyChecked===check_box_type.CheckNotVerify" name="Yes" value="checked" style="
                    margin: 3px 0px 0px 0px;
                float: left;
            ">I wouldn't like to verify my cell number</p>
                <form *ngIf="currentlyChecked==check_box_type.CheckVerify">
                    <div *ngIf="showotp">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config" ></ng-otp-input>
                        <h5>00:{{timeLeft}}</h5><p *ngIf="timeLeft=='00'" (click)="Resend()">Resend</p>
                        </div>
                        <div class="pb-lg-0 pb-5" [hidden]="verified">
                            <button type="button"  [disabled]="verified||!resetPassForm.form.valid||phoneNumber==null" (click)="verifyNumber()" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                              >{{text}}</button>
                        </div>
                  </form>
        </div>

        <!-- <div class="pb-lg-0 pb-5">
            <button [disabled]="saving" routerLink="/account/login" type="button"
                class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"><i
                    class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                    class="fa fa-check"></i> {{"Submit" | localize}}</button>
        </div> -->
        
        <div class="pb-lg-0 pb-5" [hidden]="!verified&&currentlyChecked==check_box_type.CheckVerify">
            <button type="button"  
            [disabled]="!resetPassForm.form.valid||currentlyChecked==check_box_type.CheckVerify || currentlyChecked==null || currentlyChecked!=check_box_type.CheckNotVerify" 
            (click)="togglePasswordSecurityQuestion()" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
              ><i class="fa fa-check"></i>Save&Continue</button>
        </div>
    </form> 

</div>

<div class="container" *ngIf="toggleSecurityQuestion==true&&!resetp">
<div class="pb-13 pt-lg-0 pt-5" style="margin: -10px 0px -50px 10px;">
    <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">
            <p class="font-weight-bolder text-dark font-size-h6 font-size-h1-lg">
                {{ "Hey! " | localize }}
                {{userName}}
            </p>
        
            <h5><b>
            {{SecurityCaption}}</b>
        </h5>
    </span>
</div>
 <form method = "security_question">
    <div class="container" style="padding: 0;" >
      
        <div class="question1" style="margin: 10px 0px 0px 0px;">
            <h6><b>First Question</b></h6>
            <div class="row">
                <div class="col-sm-12 form-group" style="margin: 8px 0;">
                    <select name="Security_Question1" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion1" (change)="update()" (focus)="Myfocus()">
                        <option *ngFor="let item of quesData1"  [ngValue]="item.securityQuestion.question">{{item.securityQuestion.question}}</option>
                        
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input #focus type="text" name="Secuity_Answer1" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6" [ngModelOptions]="{standalone:true}" [(ngModel)]="answer1"  placeholder = "Enter Your Answer" style="width:100%;" required>
                </div>
            </div>
        </div>
        <div class="question2">
            <h6><b>Second Question</b></h6>
            <div class="row">
                <div class="col-sm-12 form-group" style="margin: 8px 0;">
                    <select #my name="Security_Question2" (focus)="Myfocus()"  (change)="update1()" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion2" style="width:100%;">
                        <option *ngFor="let item of quesData2"  [ngValue]="item.securityQuestion.question"><p *ngIf ="securityQuestion1 !=item.securityQuestion.question">{{item.securityQuestion.question}}</p></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" #focus1 class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  [ngModelOptions]="{standalone:true}" [(ngModel)]="answer2" name="Secuity_Answer1" placeholder = "Enter Your Answer" style="width:100%;" required>
                </div>
            </div>
        </div>
        <div class="question3" style="margin-bottom: -15px;">
            <h6><b>Third Question</b></h6>
            <div class="row">
                <div class="col-sm-12 form-group" style="margin: 8px 0;">
                    <select name="Security_Question3"  (change)="update2()" class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6"  placeholder="Please Select"[ngModelOptions]="{standalone:true}" [(ngModel)]="securityQuestion3" style="width:100%;">
                        <option *ngFor="let item of quesData3" [ngValue]="item.securityQuestion.question"><p *ngIf ="securityQuestion1 !=item.securityQuestion.question && securityQuestion2 !=item.securityQuestion.question">{{item.securityQuestion.question}}</p></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" #focus2 class="sqdesign form-control form-control-solid h-auto py-4 px-8 rounded-lg font-size-h6" name="Secuity_Answer1" [ngModelOptions]="{standalone:true}" [(ngModel)]="answer3" placeholder = "Enter Your Answer" style="width:100%;" required>
                </div>
            </div>
        </div>


        <div class="pb-lg-0 pb-5">
            <div class="row">
            <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 px-4 py-4 mr-3 my-3" style="margin-left: 16px !important; width: 39%;" (click)="toggleSecurityQuestion =false "><i
                    class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
              <button type="button" *ngIf="!btnsubmit" class="btn btn-primary font-weight-bolder font-size-h6 px-4 py-4 my-3 mr-3" style="width: 44%;" (click)="saveanswer()">
                  <i class="fa fa-check"></i> {{"Submit" | localize}}</button>
              </div>
        </div>

    </div>
</form>
</div>
</div>

<style>
   
    .sqdesign{
    height: 40px;
    }
    @media (min-width: 992px){
        .aside-fixed .wrapper {
    padding-left: 0 !important;
    display: inline !important;
  }}
  .wrappe .otp-input:not(:last-child) {
    margin-right: 3px !important;
}
</style>