<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
   
      <add key="UserName" value="EbwTransferAdmn" />
    <add key="Password" value="Ebw135!" />
    <add key="CountryCode" value="+1" />
  </appSettings>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
