<div Scheduler #Scheduler (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
    <div class="calendar">

			<div class="col leftCol">
				<div class="content">
					<h1 class="date">Friday<span>July 10</span></h1>
					<div class="notes">
						<p>
							<input type="text" value="" placeholder="new note"/>
							<a href="#" title="Add note" class="addNote animate">+</a>
						</p>
						<ul class="noteList">
              <li>Consulting<a href="#" title="Remove note" class="removeNote animate">x</a></li>
              <li>General Meeting<a href="#" title="Remove note" class="removeNote animate">x</a></li>
						</ul>
					</div>
				</div>
    
      </div>

			<div class="col rightCol"><img style="height: 100%;width: 100%;" src="https://help.syncfusion.com/wpf/scheduler/gettingstarted_images/event-week-view.png">
				
			</div>

			<div class="clearfix"></div>

    </div>
</div>
    </div></div>