    <div [@routerTransition] class="d-flex flex-column flex-root" [class.admin-layout]="isAdminPage">
        
        <div id="kt_header_mobile"
            class="header-mobile align-items-center {{currentTheme.baseSettings.header.mobileFixedHeader ? 'header-mobile-fixed':''}}">
            <a routerLink="/" target="_blank">
                <img *ngIf="!appSession.tenant || !appSession.tenant.logoId" [src]="defaultLogo" alt="logo"
                    height="28" />
                <img *ngIf="appSession.tenant && appSession.tenant.logoId"
                    [src]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id"
                    alt="logo" height="38" />
            </a>
            <div *ngIf="!isAdminPage" style="font-size: small; padding: 5px; background-color: rgb(255, 255, 106); margin-left: 10px; border-radius: 4px;">
                <b><i>{{detail}}</i></b>
            </div>
            <div class="d-flex align-items-center" *ngIf="isAdminPage">
                <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                    <span></span>
                </button>
            </div>
        </div>

        <div class="d-flex flex-row flex-column-fluid page" [class.admin-layout]="isAdminPage">
            
            <div id="kt_aside" *ngIf="isAdminPage" ktOffcanvas [options]="menuCanvasOptions"
                class="aside aside-left aside-{{currentTheme.baseSettings.menu.fixedAside ? 'fixed':'static'}} d-flex flex-column flex-row-auto">
                <default-brand></default-brand>
                <div id="kt_aside_menu_wrapper" class="aside-menu-wrapper flex-column-fluid">
                    <side-bar-menu></side-bar-menu>
                </div>
            </div>

            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper"
                style="padding-left: 0 !important;"
                [class.admin-layout]="isAdminPage"
                [ngStyle]="{ marginLeft: isAdminPage ? (isMenuToggled ? '70px' : '265px') : '0px' }">
                
                <div id="kt_header"
                    [class.admin-layout]="isAdminPage"
                    [ngStyle]="isAdminPage && !isMenuToggled ? { left: '265px' } : isAdminPage && isMenuToggled ? { left: '70px' } : { left: '0px' }"
                    class="header header-{{currentTheme.baseSettings.header.desktopFixedHeader ? 'fixed':'static'}} head--skin-{{currentTheme.baseSettings.header.headerSkin}}">

                    <div class="container-fluid d-flex align-items-stretch flex-nowrap justify-content-between">
                        <div style="margin: 1px 0px 0px 0px; min-width: 26%;" class="flex-grow-1 d-none d-lg-block"><span
                                [class.hidden]="isAdminPage"
                                style="position: unset; font-size: large; position: relative; padding: 5px;background-color: rgb(255, 255, 106); top: 25%;">
                                <b><i>{{detail}}</i></b><br></span>
                        </div>
                        <div style="margin:0; justify-content:right;" class="topbar">
                            <b><i style="padding: 0px 68px 0px 0px;color:blue; top: 5px;
                            position: relative; font-size: 1.2vw;
                        ">{{company}}</i>
                                <div style="  color:blue;"
                                    *ngIf=" companyLogo?.includes('.png') || companyLogo?.includes('.jpeg')">
                                    <img *ngIf=" companyLogo?.includes('.png') || companyLogo?.includes('.jpeg')"
                                        [src]="companyLogo" [style]="display1" height="20" />
                                </div>
                            </b><img *ngIf=" companyLogo?.includes('.png') || companyLogo?.includes('.jpeg')"
                                [src]="defaultLogo" [style]="display" style="margin:0px !important;"
                                class="custom-top" height="20" />
                        </div>
                        <div class="topbar desktop-topbar"
                            style="justify-content: space-around;">
                            <div class="topbar-item subscription-warning d-print-none"
                                *ngIf="!isMobileDevice() && subscriptionStatusBarVisible()">
                                <subscription-notification-bar></subscription-notification-bar>
                            </div>
                            <active-delegated-users-combo
                                *ngIf="!installationMode"></active-delegated-users-combo>
                            <quick-theme-selection></quick-theme-selection>
                            <header-notifications></header-notifications>
                            <chat-toggle-button></chat-toggle-button>

                            <user-menu></user-menu>
                        </div>
                    </div>
                </div>

                <div class="p-3 mobile-subscription-warning d-print-none"
                    *ngIf="isMobileDevice() && subscriptionStatusBarVisible()">
                    <subscription-notification-bar></subscription-notification-bar>
                </div>
                <div class="header-spacing" [class.admin-header-spacing]="isAdminPage"></div>

                <!-- CONTENT AREA -->
                <ng-container *ngIf="!isAdminPage">
                    <app-tabs>
                        <my-tab [tabTitle]="'Dashboard'">
                            <router-outlet></router-outlet>
                        </my-tab>
                    </app-tabs>
                </ng-container>

                <ng-container *ngIf="isAdminPage">
                    <div class="admin-layout">
                        <router-outlet></router-outlet>
                    </div>
                </ng-container>

                <footer-bar></footer-bar>
            </div>
        </div>
    </div>

    <ng-template let-person="person" #about style="overflow: scroll !important;height: 100vh !important;">
        <app-upload-file [person]="person"></app-upload-file>
    </ng-template>


<style>
    .hidden {
        display: none !important;
    }
</style>