<div appBsModal #resetUserPasswordModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resetUserPasswordModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                
                    <span>Reset Password</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            <div class="container">
            <div class="row" style="margin-left: 20px;">

           
            <div class="form-group" style="width: 75%;">
                <div>
                <!-- Password Field -->
                <label for="password">Password</label>
                <input id="password" 
                       type="password" 
                       class="form-control" 
                       placeholder="Enter password" 
                       [(ngModel)]="password" 
                       name="password" 
                       required 
                       width="100%"
                       maxlength="32" />
                    
                </div>
                <div *ngIf="!password && submited" class="text-danger">
                    Passwords is required.
                </div>
                <!-- Confirm Password Field -->
                <label for="confirmPassword" style="margin-top: 15px;">Confirm Password</label>
                <input id="confirmPassword" 
                       type="password" 
                       class="form-control" 
                       placeholder="Confirm password" 
                       [(ngModel)]="confirmPassword" 
                       name="confirmPassword" 
                       required 
                       width="100%"
                       maxlength="32" 
                       [class.is-invalid]="!passwordsMatch && confirmPassword" />
            
                <!-- Validation Message -->
                 </div>
                 <div *ngIf="!confirmPassword && submited" class="text-danger">
                    Confirm Password is required.
                </div>
                <div *ngIf="!passwordsMatch && confirmPassword" class="text-danger">
                    Passwords do not match.
                </div>
              
           
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">{{"Cancel" | localize}}</button>
            <button class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
